body,
html {
    width: 100%;
    height: 100%;
}

button{
	padding: 10;
	margin: 5;
}

li {
	font-size: 18;
	padding: 10;
	margin: 5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

th{
    background-color: #4e4c4c;
    color: #ffffff;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
td {
    background-color: #8ccaf3;
    color: #000000;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }






footer {
    padding: 12px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer{
        text-align:center;
    }
}
